.NameVideoInHead {
    padding: 0.5em 0 0 1em;
    font-weight: 600;
    font-size: 16pt;
}
.NavigationAndDiscription {
/*    border: 1px solid #ffffff;*/
    width: 51em;
    height: 31.9em;
}
.PrewviewAndButtons {

}
.VideoPreview {
    width: 51em;
    border-radius: 1em;
}
.AsideDiscription {
/*    border: 1px solid #ffffff;*/
    width: 51em;
    height: 28.8em;
    background-color: #0f0f0fe2;
    border-radius: 1em;
}
.WhereToWatch {
    margin: 1em 0 -1.2em 8.3em;
}
.YouVk {
    display: flex;
    gap: 8em;
/*    padding: 0.5em 0 0 0;*/
}
.LinkToYoutube, .LinkToVKvideo {
    display: flex;
}
.LinkToYoutube {
/*    border: 1px solid #ffffff;*/
    padding: 1em 5em 1em 5em;
}
.LinkToVKvideo {
/*    border: 1px solid #ffffff;*/
    padding: 1em 5em 1em 5em;
}
.youtube {
    width: 48px;
    height: 35px;
    margin: 0 0.5em 0 0;
    transition: 500ms;
}
.vkvideo {
    width: 40px;
    height: 40px;
    margin: 0 0.5em 0 0;
    transition: 500ms;
}
.youtube:hover {
    border-radius: 0.7em;
    box-shadow: 0 0 20px 20px #ff0000c0;
    transition: 500ms;
}
.vkvideo:hover {
    border-radius: 0.7em;
    box-shadow: 0 0 20px 20px #0077ffc0;
    transition: 500ms;
}

.VideoName {
    padding: 1em 0 0 1em;
    color: #ffffff;
    font-size: 18pt;
    font-weight: 600;
}
.Discription {
    margin: 2em 0 0 0;
    overflow-y: scroll;
/*    border: 1px solid #ffffff;*/
    width: 51em;
    height: 19.3em;
    background-color: #151515ff;
    border-radius: 1em;
}
.dicriptionText {
    color: #ffffff;
    padding: 0.5em;
    font-size: 16pt;
}
.dicriptionText a    {
    color: #b6ff00;
}
.dicriptionText a:hover {
    color: #ff0000c0;
}





.MainContent {
    /*    justify-content: space-between;*/
    margin: 8em 0 0 8em;
    /*width: 89%;*/
    height: auto;
    /*border: 1px solid black;*/ /*Delete this border later*/
}




.MediaContent {
    /*    justify-content: space-between;*/
    margin: -2em 0 0 8em;
    /*width: 89%;*/
/*    height: auto;*/
    /*border: 1px solid black;*/ /*Delete this border later*/
    width: 104em;
    border-radius: 1em;
}
.MediaButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #0f0f0fe2;
    height: 3em;
    width: 104em;
    border-radius: 1em;
}
.MediaButtons a {
    font-size: 16pt;
    font-family: 'Montserrat-Regular';
    color: #b6ff00;
}
.MediaButtons a:hover {
    color: #03ff00;
}


.HiddenMediaContent {
    margin: 1em 0 0 8em;
    align-items: center;
    /*    background-color: #0f0f0fe2;*/
    max-height: 15em;
    width: auto;
    border-radius: 1em;
    color: #ffffff;
}
/*.catigories {
    width: 104em;
}*/
.closeWind {
    margin: 0 0 1em 0;
    font-size: 16pt;
    border-radius: 20px;
    width: 2.8em;
    color: #ffffff;
    padding: 0.3em;
    background-color: #262626;
}
.closeWind a{
    font-family: 'Montserrat-Regular';
    color: #b6ff00;
}
.closeWind a:hover{
    color: #03ff00;
}

audio {
    height: 2em;
}
.audio {
    padding: 1em;
    background-color: #0f0f0fe2;
    color: #ffffff;
    width: 102em;
    border-radius: 1em;
    display: none;
    overflow-y: scroll;
    max-height: 15em;
}
.audio:target {
    display: block;
}
.video {
    padding: 1em;
    background-color: #0f0f0fe2;
    color: #ffffff;
    width: 102em;
    border-radius: 1em;
    display: none;
    overflow-y: scroll;
    max-height: 15em;
}
.video:target {
    display: block;
}
.ColumnVideo {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 2em;
}
.DPvid {
/*    display: flex;
    justify-content: space-around;*/
/*    background-color: #262626;*/
    border-radius: 1em;
    padding: 0.5em;
/*    width: 10em;*/
/*    text-align: center;*/
}
/*.DPvid a {
    font-family: 'Montserrat-Regular';
    color: #b6ff00;
}
.DPvid a:hover {
    color: #ff6a00ff;
}*/
.sizeVid {
    width: 25em;
    border-radius: 1em;
    margin: 0 2em 0 2em;
}


.pictures {
    padding: 1em;
    background-color: #0f0f0fe2;
    color: #ffffff;
    width: 102em;
    border-radius: 1em;
    display: none;
    overflow-y: scroll;
    max-height: 15em;
}
.pictures:target {
    display: block;
}
.ColumnImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}
.DPbck {
    display: block;
    background-color: #262626;
    border-radius: 1em;
    padding: 0.5em;
    width; 5em;
    text-align: center;
}
.DPbck a {
    font-family: 'Montserrat-Regular';
    color: #b6ff00;
}
.DPbck a:hover {
    color: #ff6a00ff;
}
.sizeImg {
    width: 7em;
}