* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Light';
}
body {
/*    background-color: #0f0f0f;*/ /*from youtube*/
    background-color: #0f0f0feb;
}
::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background-color: #ffd900;
    border-radius: 12em;
    border: 2px solid #00000038;
}
a {
    text-decoration: none;
    color: white;
}
.HeadArea {
    z-index: 10;
/*    display: flex;*/
/*    justify-content: space-between;*/
    margin: -6em auto;
    width: 99%;
    height: 5em;
    background: #ffd9009e;
    border-radius: 0.7em;
    backdrop-filter: blur(0.5em);
/*    align-items: center;*/
    position: sticky;
    top: -1em;
}
.HeadAreaColor {
    margin: 0 auto;
    width: 100%;
    height: 7em;
    background: #ffd900ff;
    /*    border-radius: 0.7em;*/
    backdrop-filter: blur(0.5em);
    position: sticky;
    top: -8em;
}
.HeadLine {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    align-items: center;
    position: sticky;
    top: 0.5em;
}
.SiteName {
    display: flex;
}
.SiteNameTxt {
    line-height: 3em;
    margin: 0 0 0 2em;
}
.logo {
    /*    display: flex;*/
    /*    padding: 0.8em 0 0 0;*/
    width: 3em;
    height: 3em;
    /*    align-items: center;*/
    position: sticky;
    top: 1em;
}
.HLnav {
    display: flex;
    line-height: 3em;
/*    padding: 1em 0 0 0;*/
    position: sticky;
    top: 5em;
    font-size: 18pt;
    font-weight: 600;
    gap: 1em;
}

/*Lead body*/

.MainContent {
    justify-content: space-between;
    margin: 8em auto;
    width: 89%;
    height: 100em;
    /*border: 1px solid black;*/   /*Delete this border later*/
}

/*Main buttons*/

.MainWindow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.1em;
}
.VideoButton {
    /*border: 1px solid black;*/ /*Delete this border later*/
    transition: 250ms;
}
.VideoButton:hover {
    background-color: #ffd900ae;
    border-radius: 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: -0.5em -0.5em -0.5em -0.5em;
    transition: 250ms;
}
.Preview_video {
    width: 25em;
    height: auto;
    border-radius: 1em;
}